[Unit]
Description=Telegram auth.log bot
After=network.target

[Service]
# Path to the file to be used for logging
Environment=LOGFILE_PATH=_LOGFILE_PATH
# Bot token provided by Bot Father
Environment=BOT_TOKEN=_BOT_TOKEN
Type=simple
User=root
WorkingDirectory=_WORKDIR
ExecStart=/snap/bin/node _PROJECT_PATH/scripts/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target