[Unit]
Description=Telegram auth.log bot
After=network.target

[Service]
Environment=LOGFILE_PATH=log.txt
Environment=BOT_TOKEN=123abc
Type=simple
User=losha
WorkingDirectory=/home/someuser
ExecStart=/snap/bin/node /path/to/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
